{% if projects %}
    <h1>Here is a list of the projects you have completed:</h1>
    <p>Click on the button to mint an NFT for this project.</p>
{% endif %}

{% comment %} Search bar  {% endcomment %}
<div class="mb-3">
    <div class="row">
        <div class="col-12">
            <form class="d-flex" onsubmit="searchProject()">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

{% if projects %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Grade</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects|dictsortreversed:"marked_at" %}
            <tr>
                <td>{{ project.project.name }}</td>
                <td>{{ project.grade }}</td>
                <td>{{ project.marked_at|date:"m/d/Y" }}</td>
                <td>
                    <button class="btn btn-secondary" onclick="mintNFT('{{ project.project.name }}')">Create NFT</button
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>No projects found</h2>
{% endif %}

<script>

    function searchProject() {
        event.preventDefault();
        var search = document.getElementById("search").value;
        if (search == "") {
            return;
        }
        window.location.href = "{% url 'home' %}?search=" + search;
    }

    function mintNFT(project_name) {
        event.preventDefault();
        window.location.href = "{% url 'create_nft_image' %}?project=" + project_name;
    }
</script>