<!--
Context :
'username': user.username,
'wallet': user.wallet,
'project_name': project_name,
'nft_metadata': metadata
-->


<!DOCTYPE html>
<html lang="en">
{% include 'projects/templates/head.html' %}

<body>
    {% include 'projects/templates/navbar.html' %}
    <main class="container">
    <h1>Success!</h1>
    <div class=" card" style="width: 18rem;">
        <img class="card-img-top" src="{{ nft_metadatas.image }}" alt="NFT Image">
        <div class="card-body">
            <h5 class="card-title text-center">{{ nft_metadatas.name }}</h5>
        </div>
    </main>
    {% include 'projects/templates/footer.html' %}
</body>

</html>