<nav id="navbar" class="navbar navbar-dark bg-dark navbar-expand-lg">

    <span class="container">

        <span class="navbar-nav">
            <a class="navbar-brand home" href={% url "home" %}>
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                </svg> {% endcomment %}
                Project 42
            </a>
            {% if user.is_authenticated %}
                <a class="nav-link" href={% url "wallet" user.id %}>Set up your wallet</a>
            {% endif %}
        </span>
        {% if user.is_authenticated %}
            <div class="navbar-nav d-flex gap-3 justify-content-end align-items-center flex-row">
                <span class="navbar-text">
                    Logged as {{ user.username }}
                </span>
                <button class="logout btn btn-secondary" onclick="logout()">Logout</button>
            </div>
        {% else %}
            <ul class="navbar-nav d-flex gap-3 justify-content-end align-items-center flex-row">
                <li class="nav-item">
                    <button class="btn btn-secondary" onclick="redirectAuth42()">Login with 42</button>
                </li>
            </ul>
        {% endif %}
    </span>
</nav>



<script>

    function redirectAuth42() {
        window.location.href = 'https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-7d2567784f1bd041477ba952322085a29939567266edcb51fc310f782e529265&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Faccount%2Flogin&response_type=code';
    }

    function logout() {
        fetch('{% url 'logout' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '{% url 'home' %}';
            }
        })
        .catch(error => console.error('Error:', error));
    }

</script>