<nav id="navbar" class="navbar navbar-dark bg-dark navbar-expand-lg">

    <span class="container">

        <span class="navbar-nav">
            <a class="navbar-brand home" href={% url "home" %}>
                NFT42 - Project Certification
            </a>
        </span>
        {% if user.is_authenticated %}
        <div class="navbar-nav d-flex gap-3 justify-content-end align-items-center flex-row">
            <span class="navbar-text">
                Logged as {{ user.username }}
            </span>
            <button class="logout btn btn-secondary" onclick="logout()">Logout</button>
        </div>
        {% else %}
        <ul class="navbar-nav d-flex gap-3 justify-content-end align-items-center flex-row">
            <li class="nav-item">
                <button class="btn btn-secondary" onclick="redirectAuth42()">Login with 42</button>
            </li>
        </ul>
        {% endif %}
    </span>
</nav>



<script>

    function redirectAuth42() {
        window.location.href = 'https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-7d2567784f1bd041477ba952322085a29939567266edcb51fc310f782e529265&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Faccount%2Flogin&response_type=code';
    }

    function logout() {
        fetch('{% url "logout" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({})
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '{% url "home" %}';
                }
            })
            .catch(error => console.error('Error:', error));
    }

</script>