<!DOCTYPE html>
<html lang="en">
{% include 'projects/templates/head.html' %}

<body>
    {% include 'projects/templates/navbar.html' %}
    <main class="container
    <div class=" card" style="width: 18rem;">
        <img class="card-img-top" src="{{ nft_metadata.image }}" alt="NFT Image">
        <div class="card-body">
            <h5 class="card-title">{{ nft_metadata.name }}</h5>
            <p class="card-text">{{ nft_metadata.description }}</p>
            Add a project parameter to the URL to mint this NFT.
            <a href="{% url 'wallet' user.id %}?project={{ project_name }}" class="btn btn-secondary">Setup your wallet</a>
        </div>
        </div>
    </main>
    {% include 'projects/templates/footer.html' %}
</body>

</html>